---
import { storyblokEditable } from "@storyblok/astro";

type Variants = "primary" | "secondary";

const { blok } = Astro.props as { blok: { variant: Variants; text: string } };
---

<div
  class="bg-cover bg-center"
  {...storyblokEditable(blok)}
>
  <h1 class={`text-white font-bold py-4 px-4`}>
    {blok.text}
  </h1>
</div>
